In [1]:
3+2

5

In [96]:
class car :
    def __init__( self, year, make, model, speed):
        self.__year = year
        self.__make = make
        self.__model = model
        self.__speed = 0

    def set_speed(self,speed):
        self.__speed = 0 if speed < 0 else speed

    def get_speed(self,):
        return self.__speed

In [40]:
c = car(2021, "toyata","innova",12)

In [42]:
c._car__year

2021

In [48]:
c.set_speed(-467)

In [93]:
c.get_speed()

0

In [204]:
3+3

6

In [217]:
class bank_account :
    def __init__(self,balance):
        self.__balance = balance

    def deposit(self,amount):
        self.__balance = self.__balance + amount

    def withraw(self,amount):
        if self.__balance >= amount:
           self.__balance = self.__balance - amount
           return True
        else:
           return False

    def get_balance(self):
        return self._balance

In [219]:
fazal = bank_account(2000)

In [226]:
fazal.deposit(1000)

In [232]:
fazal.withraw(1000)

True

In [230]:
fazal.get_balance()

AttributeError: 'bank_account' object has no attribute '_balance'

In [234]:
class test:
    def test_meth(self):
        return "this is my first class"

In [242]:
class child_test(test):
    pass

In [244]:
child_test_obj = child_test()

In [246]:
child_test_obj.test_meth()

'this is my first class'

In [248]:
3+3

6

In [252]:
class class1:
    def test_classe1(self):
        return "this is my first classe 1"

In [254]:
class class2(classe1):
    def test_class2(self):
        return "this is my second class 2"

In [256]:
class class3(class2):
    pass

In [264]:
obj_class3 = class3()

In [268]:
obj_class3.classe1()

'this is my first classe 1'

In [270]:
obj_class3.test_class2()

'this is my second class 2'

In [279]:
import abc 
class pwskills: 
    
    @abc.abstractmethod
    def student_details(self):
        pass  
        
    @abc.abstractmethod
    def student_assignment(self):
        pass

    @abc.abstractmethod
    def student_marks(self):
        pass

In [299]:
class student_details(pwskills):
    
     def student_details(self):
        return "this is a meth for taking student details"


     def student_assignment(self):
         return "this is a meth for assignmet details for particular student"

In [301]:
class data_science(pwskills):

    def student_details(self):
        return "this will return a student details for data science masters"

    def studen_assignmet(self):
        return "this will give you a student assignmet detailse for science master"

In [303]:
ds = data_science()
ds.student_details()

'this will return a student details for data science masters'

In [309]:
sd = student_details()
sd.student_details()

'this is a meth for taking student details'